tensorflow==2.5.0
numpy
Pillow
pandas
openpyxl
scipy
seaborn
pillow
cython
matplotlib
scikit-learn
scikit-image
keras==2.4.3
opencv-python
scikit-learn
image-quality
h5py
imgaug
IPython[all]
imagecodecs
wheel